.banner {
    display: flex; /* aligner logo et contenu */
    align-items: center;
    justify-content: space-between; /* espace entre logo et contenu */
    padding: 10px 50px; /* agrandi le banner */
    background: linear-gradient(135deg, #98eaf5 , #47a3af /*#8695d8 0%, #121069 100%*/);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* style du logo à gauche */
.banner-logo {
    height: 120px; /* agrandi (avant 90px) */
    width: auto;
    background: rgba(255, 255, 255, 0.15); /* carré visible mais transparent */
    padding: 12px;
    border-radius: 12px;
    backdrop-filter: blur(6px); /* effet verre dépoli */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

/* conteneur du texte à droite */
.banner-content {
    text-align: right;
    flex-grow: 1;
}

.banner-content h1 {
    margin: 0 0 8px 0;
    font-size: 2.8rem;
    font-weight: bold;
}

.banner-content p {
    margin: 0 0 8px 0;
    font-size: 1.5rem;
    opacity: 0.7;
    font-style: italic;
}
