.banner{
    display: flex; /*aligner logo et contenu*/
    align-items: center;
    justify-content: space-between; /*espace entre logo et contenu*/
    padding: 5px 40px; 
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/*style du logo à gauche */

.banner-logo{
    height: 90px;
    width: auto;
    border-radius: 8px;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.2)
}

/*conteneur du texte à droite*/

.banner-content{
    text-align: right;
    flex-grow: 1;
}

.banner-content h1 {
    margin: 0 0 8px 0;
    font-size: 2.8rem;
    font-weight: bold;
}

.banner-content p{
    margin:0 0 8px 0;
    font-size:1.5rem;
    opacity:0,7;
    font-style: italic;
}